* {
    margin: 0;
    padding: 0;
}

/*  --GRID-- */

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


/*  --HEADER--  */

.header {
    display: flex;
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom, burlywood, bisque);
}

.logo{
    border: solid 1px;
    height: 8rem;
    width: 8rem;
}

.blocki {
    background-color: rgb(240, 214, 181);
    border: solid 3px;
    display: inline-block;
    padding: .5rem;

}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    justify-content: space-around;
}

.flexPadre {
    display: flex;
    background-color: burlywood;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.flexPadre span {
    padding: 5px;
    margin: 2px;
    font-size: 1.5rem;
}

.flexPadre a {
    text-decoration: none;
    border: black;
}

.flexPadre a:hover {
    color: white;
}

/*  --MAIN-- */

.main {
    background-color: bisque;
    height: 70vh;
}

.mainContact{
    display: grid;
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipMYoKQIx6Bneed6rxTk2P_ojCyYoyHc-IFbdSg=w1080-h608-p-no-v0);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(85%);
    justify-items: center;
    align-items: center;
}

.mainContact div{
    border: solid 2px;
    background-color: burlywood;
    text-align: center;
    padding: .5rem;
}

.mainContact button:hover{
    transform: scale(1.2);

}

.wpp {
    position: fixed;
    width: 65px;
    height: 65px;
    bottom: 5px;
    right: 5px;
}

.container {
    margin: auto;
    width: 1200px;
    height: 550px;
}


ul .slider {
    position: relative;
    width: 1200px;
    height: 550px;
}

.slider li {
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

.slider img {
    width: 1200px;
    height: 550px;
    object-fit: cover;
}

.slider li:first-child {
    opacity: 1;
}

.menu {
    text-align: center;
    margin: 20px;
    display: flex;
    height: 110%;
    align-items: flex-end;
    justify-content: center;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
    position: relative;
}

.menu a:hover{
    transform: scale(1.1);
    transition: .3s;
}

.slider li:target {
    opacity: 1;
}

.block {
    background-color: burlywood;
    display: inline-block;
    border: solid 5px;
}

.indumentaria1 {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.calzado {
    background-color: white;
    color: black;
    padding: 0%;
    width: 25%;
    height: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.calzado1 {
    padding: 5px;
}

.ropa {
    background-color: white;
    color: black;
    padding: 0%;
    width: 25%;
    height: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.ropa1 {
    padding: 5px;
}

.accesorios {
    background-color: white;
    color: black;
    padding: 0%;
    width: 25%;
    height: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.accesorios1 {
    padding: 5px;
}

.verano {
    background-color: white;
    color: black;
    padding: 0%;
    width: 25%;
    height: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.invierno {
    background-color: white;
    color: black;
    padding: 0%;
    width: 25%;
    height: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.modeloHombre {
    position: absolute;
    right: 80px;
    top: 250px;
}

.modeloMujer {
    position: absolute;
    right: 80px;
    top: 250px;
}

.ropaInvierno {
    position: absolute;
    right: 80px;
    top: 250px;
}

.ropaVerano {
    position: absolute;
    right: 180px;
    top: 550px;
}

.grid1 {
    display: grid;

}

.form input{
    margin-top: .5rem;
}

.form textarea{
    margin-top: .5rem;
}

.form input:focus{
    transform: scale(1.06);
    transition: .3s;
    outline: none;
}

.form textarea:focus{
    transform: scale(1.03);
    transition: .3s;
    outline: none;
}

/*  --FOOTER--  */

.footer {
    background-image: linear-gradient(to top, burlywood, bisque);
    height: 10vh;
    width: 100%;
}

.inline {
    background-color: burlywood;
    display: inline;
}

.inline img {
    height: 40px;
    width: 40px;
    list-style: none;
}

.redes {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

/*  --ETIQUETAS--  */

span a {
    color: black;
}

img {
    width: 400px;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*  --RESPONSIVE-- */
/* MOBILE LAST = MAX-WIDTH */
@media (max-width: 768px) {
    .grilla{
        grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    }
    
    .header{
        width: 1200px;
        height: 20vh;
    }
    .main{
        height: 70vh;
    }
    .footer{
        height: 10vh;
    }
}